

_:root_{

    --branco: white;
    --cor-do-fundo: 	#00FA9A;
    --fundo-senha: #6A5ACD;
    --fundo-texto:#8B008B;
    --borda:	#DC143C;
    --roboto: 'Roboto Mono' monospace;

}
 body{
    color:var(--fundo-texto);
    background-color: var(--cor-do-fundo);
    font-family:var(--roboto);

 }
 .titulo-principal{
     
    font-family: var(--roboto);
    font-size: 32px;
 }